/* menu */

#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

/* items del menu */

#menu ul li {
 background-color: black;
}

/* enlaces del menu */

#menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:30px;
 padding:10px;
 font-family:"Fantasy";
 text-transform:uppercase;
 letter-spacing:1px;
}

/* items del menu */

#menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
 background:#5b78a7;
}
/*imagen de fondo */
body {
     background-image: url("imagen de inicio.jpg");
}
	
/*fuente h1*/
h1{font-family: Fantasy; 
font-size: 70px;}

.img1{
	position:relative;
	left:300px;
	top:295px;
	right:0px;
	bottom:0px;
}
.img2{
	position:relative;
	left:1265px;
	top:0px;
	right:1px;
	bottom:600px;
	
	
	/*tabla marcas*/
	
	table{
	width: 100%;
	border-collapse: collapse;   /* no hay separación entre celdas */
}
th, td{
	border:solid 1px black;
padding:5px;}